* {
  box-sizing: border-box;
  border: 0.5px solid transparent;
}

html, body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif; 
  color:  white;
  text-align: center;
  margin: 0; 
  padding: 0; 
  background-color:#ce897b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  color: #E8E8E8;
}

.button {
  width: 6rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: transparent;
  border: none;
  height: 3rem;
  color: #E8E8E8;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  color:  #7AB0AD;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin: 2% 0% 2% 0%;
  color: black;
  border-radius: 3px;
}

.error {
  margin-top: 2.5rem;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

#app, .container {
  width: 100%;
  height: 100%; 
}

.container {
  position: relative;
}

label {
  font-size: 1rem;
  color: #7AB0AD;
  margin-bottom: 0rem;
}

/* NAV  */

.navbar {
  position: relative;
  display: flex;
  height: 10%;
  width: 100%; 
  background-color: #ce897b;
  margin: 0;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 30%; 
}

.navbarmenu {
  position: absolute;
  right: 0.7rem;
  padding: 1rem;
}

.navbarmenu .button {
  width: 5rem;
  height: 2rem;
  margin: 1rem 0 0 1rem;
  font-size: 0.8rem;
}

/* HOME */

.container-main {
  margin-top: 0;
}

/* HOMEGRAPH  */

.homegraph {
  height: 100%; 
  margin-top: 0;
  padding: 0;
  position: relative;
}

.homegraph h4 {
  visibility: hidden;
}
.homegraph p {
  font-size: 1rem; 
  font-weight: 900; 
  margin: 1rem; 
  margin-right: 3rem;
  margin-left: 3rem;
  color: #7AB0AD;
}

.recharts-wrapper, .recharts-surface, .recharts-legend-wrapper, .recharts-default-legend {
  width: 100% !important;
  overflow: hidden;
}

/* ABOUT */
.about.column{
  background-image: url('../../images/ehoa-about.png');
  height: 36rem;
  margin-bottom: 8rem; 
}

.about {
  position: relative; 
  padding-top: 4%; 
  padding-bottom: 6%;
}

.about p {
  font-size: 1.3rem;
  margin: 1rem 3rem 1rem 3rem;
  font-style: italic;
  color:  white;
}

.homebuttons {
  display: inline;
}

hr {
  color: white;
  width: 40%;
  height: 0.75rem; 
  text-align: center;
  margin: 0 auto;
}

.overview {
  padding: 3rem;
}

.overview h2 {
  font-size: 4.5rem;
}

.overview.column {
  border-top: none;
}

/* FOOTER */

.footer {
  width: 90%;
  margin: auto;
  height: 5%;
  background-color: #ce897b;
  border-top: 2px solid #7AB0AD;
  margin-top: 5rem;
  margin-bottom: 0;
  color: #E8E8E8;
}

.footer a {
  color: #E8E8E8;
  border: .3px solid transparent;
}

.app {
  background-color: #7AB0AD;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) {
  .navbar-brand img {
    width: 22%; 
  }

  .field.has-addons {
    width: 60%;
  }  
}  

@media only screen and (min-width: 640px) {
  .navbar-brand img {
    width: 18%; 
  }

  .field.has-addons {
    width: 40%;
  }  
}

@media only screen and (min-width: 800px) {
  .container {
    height: 100vh;
  }

  .navbarmenu .button {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
  }

  .companyList {
    text-align: left;
  }

  .companyList ul {
    text-align: left; 
  }

  .companyList h3 {
    margin-left: 1rem;
  }

  .field.has-addons {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: left;
    margin-bottom: 2rem;
  }

  .about p {
    font-size: 1.6rem;
  }  
}

@media only screen and (min-width: 900px) {
  .navbar-brand img {
    width: 15%; 
  }
}
